.content-info {
  background-color: $color-background;
  min-height: 10rem;
  padding: 20px 0 50px;
}

.address {
  color: $color-footer-text;
  text-align: center;
  font-size: 0.9em;
  padding: 1rem;

  p {
    margin: 0;
    line-height: 1.2;
  }
}

.socialmedia {

  list-style-type: none;
  padding: 1rem 0;
  text-align: center;

  &__el {
    display: inline-block;
  }

  &__link {

    &:hover, &:focus {

      .socialmedia__circle {
        color: $color-primary;
        transition: 0.3s ease-out;
      }
    }
  }

  &__circle {
    color: $color-icon-cirlce;
    transition: 0.3s ease-out;
  }

  &__icon {
    color: $color-icon-icon;
  }
}

.mobile-nav {
  text-align: center;
  transform: rotate(-10deg);
}

@include media-breakpoint-up(sm) {

  .address {
    text-align: left;
  }

  .socialmedia {
    padding: 0.5rem;
    &__el {
      font-size: 0.8em;
    }
  }

  .mobile-nav {
    display: none;
  }
}

@include media-breakpoint-up(lg) {

  .socialmedia {
    padding: 1rem;

    &__el {
      font-size: 1.2em;
    }
  }
}
