.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  position: relative;

  &__text {
    position: absolute;
    bottom: 30%;
    left: 10%;
    max-width: 80%;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-family: $font-family-serif;
    background-color: $notwhite;
    color: $color-primary;
    animation: fadeIn 3s;

    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      bottom: 10%;
    }
  }


  .button-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: $zindex-fixed;
  }
}

.hide-overlay-js {
  opacity: 0;
  transition: 0.5s ease-out;
}

.banner {
  height: 70vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.topline {
  display: none; // hide for mobile
  height: 0;
  background-color: $color-background;

  .search-form {
    float: right;
  }
}

.mobile-nav {
  text-align: center;
  transform: rotate(-10deg);
}

.nav-sec {
  display: inline-block;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-style: italic;
    text-transform: uppercase;

    a {
      color: $color-text-link;

      @include hover-focus {
        color: $color-text-link-hover;
        text-decoration: none;
      }
    }
  }
}

.nav-prim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-overlay-transparent;
  z-index: 1;
  padding: 75px 0 0 0;
  transition: 0.5s ease-out;
  opacity: 1;

  &__list {
    list-style: none;
    padding: 7px 0 0 0;
  }

  .menu-item {
    display: block;
    transform: skewX(-10deg) rotate(-10deg);
    margin-top: 5px;
    width: 80%;
    float: right;

    a {
      display: block;
      color: $color-nav-prim-link;
      background-color: $color-background;
      padding: 0.7rem 1.2rem;
      font-size: 1.375rem;
      font-weight: $font-weight-semi;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.3s ease-out;

      @include hover-focus {
        color: $color-primary;
        text-decoration: none;
        transition: 0.3s ease-out;
      }
    }

    &.current-menu-item, &.current_page_parent {
      a {
        color: $color-nav-prim-link-active;
        background-color: $color-primary;
        text-decoration: none;
        @include hover-focus {
          color: $color-nav-prim-link-active;
        }
      }
    }
  }
}

/*==================
       TABLET
==================*/
@include media-breakpoint-up(sm) {

  .topline {
    display: block;
    height: auto;
  }

  .hide-overlay-js {
    opacity: 1;
    transition: none;

    .nav-prim {
      height: 0;
    }
  }

  .nav-prim {
    position: static;
    background: none;
    padding: 0;

    &__list {
      list-style: none;
      padding: 7px 0 0 0;
    }

    .menu-item {
      width: auto;
      float: none;
      display: inline-block;
      transform: skewX(170deg);
      margin-right: 7px;

      a {
        display: inline-block;
        color: $color-nav-prim-link;
        background-color: $color-background;
        padding: 0.7rem 1.2rem;
        font-size: 1.375rem;
        font-weight: $font-weight-semi;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.3s ease-out;

        @include hover-focus {
          color: $color-primary;
          text-decoration: none;
          transition: 0.3s ease-out;
        }
      }

      &.current-menu-item {
        a {
          color: $color-nav-prim-link-active;
          background-color: $color-primary;
          text-decoration: none;
          @include hover-focus {
            color: $color-nav-prim-link-active;
          }
        }
      }
    }
  }

  .nav-sec {

    .menu-item {
      a {
        color: $color-nav-sec-link;

        @include hover-focus {
          color: $color-nav-sec-link-hover;
        }
      }
    }
  }
}

@media(orientation: landscape) {
  .banner {
    height: 50vw;
    max-height: 70vh;
    background-position: center 25%;
  }

  @include media-breakpoint-up(lg) {
    .banner {
      background-position: center 15%;
    }
  }
}

@keyframes fadeIn {

  0%, 30% {
      opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}