.post-meta {
  font-weight: $font-weight-regular;
  color: $color-accent;
  text-transform: uppercase;
  font-size: 0.9em;
  display: inline-block;
}

.post-cats {
  display: inline-block;
  float: right;

  &__label {
    color: $color-accent-text;
    background-color: $color-primary;
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    transform: skewX(-10deg);
    display: inline-block;
  }
}

.post {
  + .post {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $color-accent;
  }

  &__info {
    clear: both;
    padding: 0.8rem 0;
  }

  &__title {
    margin: 0 0 0.5rem 0;

    a {
      color: $color-text-heading;
      position: relative;
      display: inline-block;

      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        height: 1px;
        width: 0;
        left: 50%;
        background-color: $color-accent;
        transition: 0.3s ease-out;
      }

      &:hover, &:focus, &:active {
        text-decoration: none;

        &:after {
          width: 100%;
          transition: 0.3s ease-out;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__content {
    clear: both;
  }
}