body {
  background: $color-background;
  background: $color-background-gradient;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  color: $color-text-heading;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1rem;

}


/*==================
       TABLET
==================*/
@include media-breakpoint-up(md) {

  .wrap {
    margin-top: -5rem;
    margin-bottom: 3rem;
  }

  .content {
    background-color: $color-overlay;
    box-shadow: 1px 1px 4px 0 $color-shadow;
  }

  .main {
    padding: 2rem 1.5rem;
  }
}

.no-scroll-js {
  overflow: hidden;
}