// Colors
$tangerine:           #ee7f00;
$notwhite:            #f8f7f5;
$white:               #fff;
$shadow:              #555;
$twilight:            #808080;
$lighting:            #ccc;

// Color variables
$color-primary:               $tangerine;

$color-background:            $notwhite;
$color-background-gradient:   linear-gradient($notwhite, $white);
$color-overlay:               $white;

$color-text:                  $shadow;
$color-text-inverted:         $notwhite;
$color-text-heading:          $color-primary;

$color-text-link:             $color-primary;
$color-text-link-visited:	  darken($color-text-link, 20%);
$color-text-link-hover:       lighten($color-text-link, 20%);

$color-nav-prim-link:         $shadow;
$color-nav-prim-link-hover:   $color-primary;
$color-nav-prim-link-active:  $white;

$color-nav-sec-link:          $shadow;
$color-nav-sec-link-hover:    lighten($color-nav-sec-link, 15%);

$color-icon-cirlce:           $twilight;
$color-icon-icon:             $white;

$color-accent:                $lighting;
$color-accent-text:           $white;

$color-border:                $notwhite;
$color-shadow:                rgba(0,0,0,0.3);

$color-overlay-transparent:   rgba(150, 150, 150, 0.7);

// bootstrap override
$body-color:                  $color-text;
$body-bg:                     $color-background;
$link-color:                  $color-text-link;
$link-hover-color:            $color-text-link-hover;

// Typography
@import url('https://fonts.googleapis.com/css?family=Adamina|Titillium+Web:300,400,400i,600,600i,700');

$font-family-sans-serif:      "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:           "Adamina", Georgia, "Times New Roman", Times, serif;

$font-size-h1: 2.3rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.1rem;
$font-size-h6: 0.9rem;

$font-weight-regular:   400;
$font-weight-light:     300;
$font-weight-semi:      600;
$font-weight-bold:      700;

// Global options
$enable-flex:           true;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Vendor variables
$fa-font-path:          '~font-awesome/fonts';
