.button-toggle {
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  padding: 13px 5px;
  border: 0;
  transform: skewY(-10deg);
  cursor: pointer;

  &__bar {
    display: block;
    height: 4px;
    width: 40px;
    margin-bottom: 6px;
    background-color: $color-text-inverted;
    transform: skewY(10deg) skewX(-10deg);
    transition: 0.5s ease-out;

    &--top {
      transform: rotate(45deg) translate(7px, 7px) skewX(-10deg);
    }

    &--mid {
      opacity: 0;
    }

    &--bottom {
      transform: rotate(-45deg) translate(7px, -8px) skewX(-10deg);
    }
  }

  &:active, &:hover, &:focus {
    outline: none;
  }

  &.collapsed-js {

    .button-toggle__bar--top {
      transform: skewY(10deg) skewX(-10deg);
    }

    .button-toggle__bar--mid {
      opacity: 1;
    }

    .button-toggle__bar--bottom {
      transform: skewY(10deg) skewX(-10deg);
    }
  }
}

.nav-previous, .nav-next {
  display: inline-block;
  color: $color-primary;
  border: 1px solid $color-primary;
  padding: 5px 7px;
  transform: skewX(-10deg);
  transition: 0.5s ease-out;
  margin-right: 7px;

  a {
    color: inherit;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  &:hover, &:active, &:focus {
    color: $color-accent-text;
    background-color: $color-primary;
    transition: 0.5s ease-out;
  }
}

.nav-next {
  &::after {
    content: " >";
  }
}

.nav-previous {
  &::before {
    content: "< ";
  }
}

/*==================
       TABLET
==================*/
@include media-breakpoint-up(sm) {

  .button-toggle {
    display: none;
  }
}
