// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


.search-form {
  padding: 3px 0;
  display: inline-block;

  &__field, &__submit {
    font-size: 1rem;
    color: $color-text;
    border: 1px solid $color-border;
    padding: 3px 5px;
    border-radius: 0;
    transform: skewX(-10deg);
    transition: 0.5s ease-out;

    &:hover, &:active, &:focus {
      outline: none;
      transition: 0.5s ease-out;
    }
  }

  &__field {
    &:hover, &:active, &:focus {
      border-color: $color-primary;
    }
  }

  &__submit {
    background-color: $color-background;
    border-color: $color-primary;
    color: $color-primary;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background-color: $color-primary;
      color: $color-text-inverted;
    }
  }
}